@mixin col($md: unset, $mtl: unset, $mtp: unset, $msl: unset, $msp: unset) {
	width: $md;
	@if $md != unset {
		@media screen and (min-width: $grid--width) {
			@if $md == 100% {
				width: 100%;
			} @else {
				lost-column: $md;
			}
		}
	}
	@if $mtl != unset {
		@media screen and (min-width: 980px) and (max-width: calc($grid--width - 1px)) {
			@if $mtl == 100% {
				width: 100%;
			} @else {
				lost-column: $mtl;
			}
		}
	}
	@if $mtp != unset {
		@media screen and (min-width: 768px) and (max-width: 979px) {
			@if $mtp == 100% {
				width: 100%;
			} @else {
				lost-column: $mtp;
			}
		}
	}
	@if $msl != unset {
		@media screen and (min-width: 480px) and (max-width: 767px) {
			@if $msl == 100% {
				width: 100%;
			} @else {
				lost-column: $msl;
			}
		}
	}
	@if $msp != unset {
		@media screen and (min-width: 1px) and (max-width: 479px) {
			@if $msp == 100% {
				width: 100%;
			} @else {
				lost-column: $msp;
			}
		}
	}
}


@mixin row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

@mixin grid {
	width: 100%;
	max-width: 1100px;
	margin: auto;
	box-sizing: border-box;
	@media (--mtl) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@media (--msl) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@mixin link {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

@mixin title {
	font-family: $font--title;
	font-weight: 700;
	line-height: 1.15;
}

@mixin uppercase {
	text-transform: uppercase;
	letter-spacing: 0.04em;
}