$color--style: #72A7A0;
$color--accent: #E9B646;
$color--title: #5c4d4d;
$color--blue: #afd0da;
$color--text: #000;
$color--link: #8fc3dc;
$color--border: #DEDFE0;

$colorBg: #edeff1;
$colorBg--dark: #33383D;
$colorBg--light: #FCF9F6;

$font--title: 'Merel', Arial;
$font--text: 'Merel';
$font--alt: 'Merel';

$grid--width: 1170px;
$grid--gutter: 20px;

@custom-media --md (min-width: $grid--width);
@custom-media --mtl (max-width: calc($grid--width - 1px));
@custom-media --mtp (max-width: 979px);
@custom-media --msl (max-width: 768px);
@custom-media --msp (max-width: 479px);

@lost flexbox flex;
@lost gutter 40px;
@lost rounder 100;