include module.pug

mixin bl(root, data = {})
	-
		var preffix = data.preffix != null ? data.preffix : false

		var root =  preffix ? 'b-' + root : root

		var b = data.b != null ? data.b : ''
		var e = data.e != null ? data.e : ''
		var m = data.m != null ? data.m : ''
		var c = data.c != null ? data.c : 'block'
		var t = data.t != null ? data.t : 'section'

		b = merge(b, c)

	mixin el(element, args = {})
		-
			var elE = args.e != null ? args.e : ''
			var elB = args.b != null ? args.b : ''
			var elT = args.t != null ? args.t : 'div'
			var elM = args.m != null ? args.m : ''
			var ext = args.ext != null ? args.ext : false

			if(ext) elE = merge(elE, b)

		+e(element, {b: elB, e: elE, m: elM, t: elT})&attributes(attributes)
			block

	mixin blockTitle
		+b('heading', {e: ['&:heading', b], t: 'h2'})&attributes(attributes)
			block
	mixin pageTitle
		+b('heading', {e: ['&:heading', b], t: 'h1'})&attributes(attributes)
			block
	mixin blockDscr
		+el('dscr', {e: b, t: 'p'})&attributes(attributes)
			block

	+b(root, {b: b, e: e, m: m}, t)&attributes(attributes)
		if(data.grid != false && data.grid != true)
			+e('inner', {e: b})
				block
		else if(data.grid == true)
			block

mixin popup(root, data = {})
	-	
		data.preffix = false
		data.c = 'popup'
	+bl(root, data)