.popup {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	z-index: 110;
	background-color: rgba(#000, 0);
	overflow-y: scroll;
	pointer-events: none;
	transition: visibility 0s ease 0.6s, background-color 0.6s ease 0s;
	&.-visible {
		visibility: visible;
		pointer-events: auto;
		background-color: rgba(#000, .4);
		transition: background-color 0.6s ease 0s;
	}
	&__inner {
		position: relative;
		width: 100%;
		margin: auto;
		background-color: #fff;
		border-radius: 10px;
		box-sizing: border-box;
	}
	&__subtitle {
		@include uppercase;
		margin-bottom: 1.2em;
	}
	&__dscr {
		margin-bottom: 1.8em;
		@media (--msl) {
			font-size: 14px;
		}
	}
	.form__input {
		color: $color--text;
	}
}