.form {
	&__row {
		@include row;
	}
	&__field {}
	&__label {
		.-required &::after {
			content: '*';
			color: $color--style;
		}
		.error_field & {
			color: $color--style;
		}
	}
	&__input {}
	&__checkbox {}
	&__button {}
	&__submit {}
	&__fz {}
}