.heading {
	@include title;
	font-size: 36px;
	color: $color--title;
	margin-bottom: .45em;
	@media (--mtl) {
	    font-size: 40px;
	};
	@media (--msl) {
		font-size: 36px;
	}
	@media (--msp) {
	    font-size: 30px;
	}
	&--block {
		font-size: 36px;
		@media (--mtl) {
			font-size: 42px;
		}
		@media (--msl) {
			font-size: 28px;
		}
	}
}

.button {
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	padding: 1.4em 3.5em 1.35em;
	border-radius: 35px;
	color: $color--text;
	text-align: center;
	@include uppercase;
	background-color: $color--accent;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease 0s;
	@media (--mtl) {
		font-size: 14px;
		padding: 18px 20px 16px;
	};
	@media (--mtp) {
		font-size: 12px;
	}
	@media (--msl) {
		padding: 18px 30px 16px;
	}
	@media (--msp) {
		padding: 17px 20px 15px;
	}
	&:hover {
		box-shadow: 0 0 22px $color--accent;
	}
}

.checkbox {
	display: flex;
	align-items: flex-start;
	cursor: pointer;
	&:hover {
		color: $color--accent;
		*&__toggle {
			background-color: $color--accent;
		}
	}

	&__input {
		display: none;
		&:checked + *&__toggle {
			&::before {
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
	&__toggle {
		position: relative;
		font-size: 0;
		width: 12px;
		height: 12px;
		flex-shrink: 0;
		margin-right: 15px;
		background-color: #dcdcdc;
		border-radius: 4px;
		box-sizing: border-box;
		@media (--msl) {
			width: 16px;
			height: 16px;
		}
		.error_field & {
			box-shadow: 0 0 0 1px $color--style;
		}
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 6px;
			height: 6px;
			background-color: #5c4d4c;
			border-radius: 2px;
			transform: translate(-50%, -50%) scale(0);
			transition: all 0.2s ease 0s;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		width: 100%;
		@media (--msl) {
			justify-content: center;
			text-align: left;
		}
	}
	&__text {
		font-size: 12px;
		text-align: left;
		.error_field & {
			color: #eb5757;
		}
	}
	a {
		@include link;
	}
}

.thanks {
	position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.2s ease 0s;
	.-thanks & {
		opacity: 1;
	}
	&__logo {
		fill: #665656;
		max-width: 180px;
		margin-bottom: 50px;
	}
	&__heading {
		font-size: 20px;
		font-weight: 700;
		@include uppercase;
		color: #72A7A0;
		margin-bottom: .65em;
	}
	&__dscr {
		font-size: 16px;
		max-width: 12em;
	}
}

.link {
	display: block;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.tabs {
	&__dot {
		cursor: pointer;
		transition: all 0.2s ease 0s;
	}
	&__slide {
		visibility: hidden;
		height: 0;
		pointer-events: none;
		opacity: 0;
		&.-active {
			opacity: 1;
			height: auto;
			visibility: visible;
			pointer-events: auto;
			transition: opacity 0.2s ease 0s;
		}
	}
}