doctype html

include ../../../node_modules/bempug/index
include ../template/block.pug

-
	var pageBlock = 'front'
	var hasSidebar = false

	var pageTitle = 'FrontPage'

block vars

block storage

-
	var pageClasses = (pageBlock !== 'front' ? 'innerPage' : '', hasSidebar ? 'sidebarPage' : '', 'page')
	var pageBlock = pageBlock + 'Page'

html(lang="ru")
	head
		title= pageTitle
		meta(charset="UTF-8")
		link(rel="stylesheet" href="css/styles.css")
		link(rel="icon" href="images/favicon.png" type="image/png")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=0")
		meta(name="description" content=pageTitle)
		meta(name="og:title" content=pageTitle)
		meta(name="og:type" content=pageTitle)
		meta(property="og:image" content="./images/og.jpg")
	+b(pageBlock, {b: pageClasses, t: 'body'})
		+e('inner', {e: pageClasses})
			+e('header', {e: pageClasses, t: 'header'})(role='havigation')
			+e('main', {e: pageClasses})(role='contentinfo')
				block content
			+e('footer', {e: pageClasses, t: 'footer'})(role='contentinfo')
			+e('popup', {e: pageClasses})
				block popup
	script(defer src="js/libs.js")
	script(defer src="js/main.js")
	script(defer src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU&mode=release")