* {
	outline: none;
}

html {
	&.-popup {
		height: initial;
		overflow-y: hidden !important;
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: $font--text;
	font-size: 16px;
	font-weight: 400;
	color: $color--text;
	line-height: 1.4;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	@media (--msl) {
		padding-left: 20px;
		padding-right: 20px;
	}
	.-popup & {
		overflow: hidden;
		height: 100%;
	}
}

h1, h2 {
	@include title;
	margin-top: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

td {
	border: none;
    border-collapse: inherit;
    border-spacing: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}
