@font-face {
	font-family: 'Merel';
	font-display: auto;
    src: url('../fonts/Merel/MerelRegular.OTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Merel';
	font-display: auto;
	src: url('../fonts/Merel/MerelBold.OTF');
    font-weight: 700;
    font-style: normal;
}

@font-face {
	font-family: 'Merel';
	font-display: auto;
	src: url('../fonts/Merel/MerelBlack.OTF');
    font-weight: 900;
    font-style: normal;
}